@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
img{
    object-fit: cover;
    width: 100%;
}
body{
    background-color: #081B29;
    color: white;
    padding: 20px 10%;
    
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    align-items: center;
  
  
}
.logo{
    cursor: pointer;
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
}
nav a{
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-left: 35px;
}
.activity,
nav a:hover{
    color: #00abf0;
}
main{
    display: grid;
    width: 100%;
    height: 90vh;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    }
.right{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.right img{
    width: auto;
    height: auto;
    max-height: 70%;
    max-width: 70%;
    position: absolute;
    filter: drop-shadow(16px 20px 16px rgb(72, 116, 148));
}
.left h1{
   font-size: 56px;
   font-weight: 700;
   line-height: 1.5;

}
.left p{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0 40px;
    width: 80%;
 }
 .left h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    color: #00abf0;
 }
 .btn{
    text-transform: capitalize;
    width: 350px;
    height: 50px;
    display: flex;
    gap: 50px;
    position: relative;
  }
  .btn a:nth-last-child(1){
    background-color: transparent;
    color: #00abf0;
  }
  .btn a:nth-last-child(1):hover{
   color: #081B29;
  }
  .btn a:nth-last-child(1):hover::before{
    width: 100%;
   background-color: #00abf0;
  }
  .btn a:hover::before{
    width: 100%;
   background-color: #081B29;
  }
  .btn a:hover{
   color: #00abf0;
  }
  .btn a::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -11;
    transition: 1s;
    border-radius: 10px;
  }
  .btn a{
    width: 150px;
    height: 100%;border-radius: 20px;
    border: 2px solid #00abf0;
    font-size: 19px;
    color: #081B29;
    background-color: #00abf0;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 11;
    overflow: hidden;
    transition: 0.8s;
  }
  .logos a{
    color: #00abf0;
    border-radius: 100%;
    border: 2px solid #00abf0;
    padding:  8px;
    font-size: 1.8em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.8s;
    display: inline-flex;

  }
  .logos{
    display: flex;
    gap: 20px;
    margin-top: 150px;
  }
  .logos a::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0%;
    border-radius: 100%;
    transition: 0.5s;
    z-index: -1;
  }
  .logos a:hover::before{
    background-color: #00abf0;
    width: 100%;
  }
  .logos a:hover{
    color: #081B29;
  }
  @media screen and (max-width:1000px) {
    
   
    main{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 500px;
     
    }
    .right{
     justify-content: center;
     align-items: center;
    }
    .left{
        align-items: center;
        justify-content: center;
        display: inline-flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .left p,h1{
        text-align: center;
    }
    .logos{
        margin: 50px;
    }
    .right img{
        max-height: 50%;
        max-width: 50%;
        object-fit: fill;
    }
    
  }
  .abrir,
  .cerrar{
  display: none;
  font-size: 2.5em;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  height: auto;
  }
  
@media screen and (max-width:1000px) {
  .abrir{
    display: block;
  }
  .cerrar{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 45px;
  }
  .info{
    display: none;
    flex-direction: column;
    background-color: #000000fa;
    position: absolute;
    top: 0;
    right:  0px;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    line-height: 50px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.642);
    border-radius: 20px;
    transition: all 0.7s;
    animation: anima ease forwards 1s;
  }
  .info.activo{
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  .index{
    z-index: -1;
  }
}
@keyframes anima{
  50%{
    transform: rotate(150deg);
  }
  50%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(10deg);
  }
}